<!-- Start toolbar-->
<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="sidenav.toggle(); opened = true"
    (mouseenter)="sidenav.toggle(); opened = true"
  >
    <mat-icon>menu</mat-icon>
  </button>
  Parcking Portal
  <span class="example-fill-remaining-space"></span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <img
      class="example-header-image"
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      alt=""
    />
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="authentication.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<!-- End toolbar-->

<!-- Start sidenav container -->
<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <div class="routes" fxLayout="column">
      <div
        class="route"
        style="width: 97.5%;"
        [class.item-selected]="selected === i"
        *ngFor="let menu of menuItems; let i = index"
        (click)="opened = false"
      >
        <button
          mat-button
          class="item"
          [routerLink]="menu.path"
          (click)="selected = i"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span class="label">{{ menu.name | titlecase }}</span>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- End sidenav container -->
