<mat-card class="container-queue" fxLayout="column">
  <div class="header" fxFlex="20" fxLayoutAlign="start center">
    <h2>Queue vehicle</h2>
  </div>
  <div class="header-subtitles" fxFlex="20" fxLayout="row">
    <div
      class="label"
      fxFlex="25"
      fxLayoutAlign="center center"
      *ngFor="let option of headerOptions"
    >
      <span>{{ option | titlecase }}</span>
    </div>
  </div>
  <div class="content">
    <mat-card class="vehicle" *ngFor="let vehicle of vehicles; let i = index">
      <div class="label" fxFlex="25" fxLayoutAlign="center center">
        <span>{{ vehicle.type | titlecase }}</span>
      </div>
      <div class="label" fxFlex="25" fxLayoutAlign="center center">
        <span>{{ vehicle.number_plate }}</span>
      </div>
      <div class="label" fxFlex="25" fxLayoutAlign="center center">
        <span>{{ vehicle.date | date: 'yyyy-MM-dd' }}</span>
      </div>
      <div class="label" fxFlex="25" fxLayoutAlign="center center">
        <button
          class="btn-add"
          mat-raised-button
          color="primary"
          (click)="delete(vehicle.id)"
        >
          Delete
        </button>
      </div>
    </mat-card>
  </div>
</mat-card>
